.cardContainer {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 250px;
    height: 200px;
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.cardContainer:hover {
    transform: scale(1.05)
}

.title, .rating {
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    text-shadow: -1px -1px 0 black,
        1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-decoration: none;
    list-style: none;
}

.infoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* Media query para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
    .cardContainer {
        max-width: 100%; /* La tarjeta ocupará todo el ancho disponible */
        height: auto; /* La altura se ajustará automáticamente según el contenido */
        margin-bottom: 20px; /* Espacio entre tarjetas */
    }
}

