.botondeinicio {
    margin-bottom: 10px;
    width: 100px; /* Ancho más grande */
    height: 100px; /* Altura más grande */
    border-radius: 50%;
    background-color: transparent;
  }


  .landingTitle {
    font-family: "Homer Simpson UI";
    font-size: 4em;
    color: rgb(202, 19, 19); /* Relleno transparente */
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white, 0 0 5px black; /* Borde blanco y negro */
    transition: text-shadow 0.3s; /* Transición para el efecto de brillo */
  }
  
  .landingTitle:hover {
    text-shadow: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white, 0 0 10px red; /* Efecto de brillo con sombra rojiza */
  }

  .estiloLinks{
    font-size: 40px;
    color: transparent;
}