.container{
  display: flex;
background-image: url('../../../assets/joystick.jpg');
background-size: cover;
background-repeat: repeat;
height: 47vw;

}


.containerLanding{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
 
  

}

.containerInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid black;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px); /* Ajusta el valor de desenfoque según tus necesidades */
}

.botondeinicio {
    margin-bottom: 10px;
    width: 100px; /* Ancho más grande */
    height: 100px; /* Altura más grande */
    border-radius: 50%;
    background-color: transparent;
    color: black;
  }


  .landingTitle {
    color: black;
  }
  
  

  .estiloLinks{
    font-size: 20px;
    font-weight: bold;
    color: black;
}