@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Dhurjati', sans-serif;

      background-image: url("../../../assets/joystick.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
  }
  

.homeContainer{
  font-family: 'Dhurjati', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: blur(5px);
}

.homeText {
  font-family: 'Dhurjati', sans-serif;
  font-size: 50px;
  color: rgb(223, 104, 8);
  margin: 0px;
}


