.searchBarContainer {
    display: flex;
    flex-direction: row;
    border: transparent;
    border-radius: 15px;
    outline: none;
    justify-content: space-around;
    padding: 10px;
    width: 1100px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  
  .linksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: transparent;
    background-color: transparent;
    color: white;
    font-family: "Bigelow Rules";
    font-size: 30px;


  }
  
  
  
  
  
  .filterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    border: transparent;
    background-color: transparent;
  }
  
  .selectContainer {
    width: 150px;
    height: 50px;
    border: 1px solid orange;
    color:orange;
    font-family: "Bigelow Rules";
    font-size: 15px;
    background-color: transparent;
    text-align: center;
  }
  .selectContainer::placeholder {
    color: orange;
  }
  
  .buttonContainer{
    width: 150px;
    height: 20px;
    background-color: transparent;
    color: orange;
    font-family: "Bigelow Rules";
    font-size: 15px;
    cursor: pointer;
  }