@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');

.searchBarContainer {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  justify-content: space-around;
  padding: 10px;
  width: 90%; /* Cambiamos el ancho a un porcentaje para que sea responsive */
  max-width: 1100px; /* Limitamos el ancho máximo */
  line-height: 30px;
  margin: 0 auto; /* Centramos horizontalmente */
  margin-bottom: 30px;
  backdrop-filter: blur(5px);
  border: 2px solid black;
}

.linksContainer {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 20px;
}

.backHome {
  backdrop-filter: blur(5px);
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: transparent;
  background-color: transparent;
}

.selectContainer {
  width: 150px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  color: black;
  font-family: "Bigelow Rules";
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  text-align: center;
}

.selectContainer::placeholder {
  color: rgb(141, 141, 141);
  text-shadow: 1px 1px black;
}

.buttonSearch {
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: "Bigelow Rules";
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}

.buttonReset {
  width: 100%;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.ContainNavbar {
  display: flex;
  flex-direction: column;
}

.navbar {
  border: 1px solid black;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  background-color: orange;
  color: white;
}

/* Media query para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .searchBarContainer {
    flex-direction: column; /* Cambiamos la dirección del flex a columna */
    align-items: center; /* Centramos los elementos */
  }

  .buttonSearch,
  .buttonReset {
    width: 100%; /* Los botones ocupan todo el ancho disponible */
  }
}
