@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');


.filtersContainer {
  background-color: #3d4754;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  width: 100%;
  line-height: 30px;
  backdrop-filter: blur(5px);
  box-sizing: border-box;

}

.linksContainer {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 20px;
}

.backHome {
  backdrop-filter: blur(5px);
}

.filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
  background-color: transparent;
  padding: 10px;
}

.selectContainer {
  background-color: #f2f2f2; /* Color de fondo */
  color: #333; /* Color del texto */
  border: 1px solid #ccc; /* Borde */
  padding: 8px; /* Espacio interno */
  font-size: 16px; /* Tamaño de fuente */
  width: 200px; /* Ancho */
  border-radius: 5px;
  box-sizing: border-box;
}

.selectContainer:hover {
  background-color: #e6e6e6; /* Cambio de color al pasar el ratón */
}

.selectContainer:focus {
 border: 1px solid #1ee4a8;
 box-sizing: border-box;
}


.selectContainer::placeholder {
  color: rgb(141, 141, 141);
  text-shadow: 1px 1px black;
}

.buttonSearch {
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  font-family: "Bigelow Rules";
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 1px 1px gray;
}

.buttonResetContainer{
  display: flex;
}
.buttonReset {
  width: 100%;
  background-color: transparent;
  color: white;
  border: 2px solid #1ee4a8;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttonReset:hover {
  background-color: #2b323D; /* Cambia el color de fondo al pasar el ratón */
}
.ContainNavbar {
  display: flex;
  flex-direction: column;
}

.navbar {
  border: 1px solid black;
  margin: 10px;
  border-radius: 15px;
  padding: 10px;
  background-color: orange;
  color: white;
}

/* Media query para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .filtersContainer {
    display: flex;
    flex-direction: column; /* Cambiamos la dirección del flex a columna */
    align-items: center; /* Centramos los elementos */
  }

  .buttonSearch,
  .buttonReset {
    width: 100%; /* Los botones ocupan todo el ancho disponible */
  }
}
