@import url('https://fonts.googleapis.com/css2?family=Dhurjati&display=swap');
* {
  font-family: 'Dhurjati', sans-serif;

} 
.backHome{
  width: 100%;
  color: Black;
  font-weight: bold;
  font-size:30px ;
  backdrop-filter: blur(5px);
}
.backHome a{
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: gray;
  border-radius: 10px;
  padding: 3px;
}

.formWrapper {
  font-family: 'Dhurjati', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  backdrop-filter: blur(5px);
}
.bg-blur{
  backdrop-filter: blur(5px);
}

.inputWrapper {
  flex-basis: 33.33%;
  margin-bottom: 20px;
  width: 20px;
  border: blue;
}

.inputGroup {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.formText {
  font-family: 'Dhurjati', sans-serif;
  color: Black;
  font-weight: bold;

}


.form{
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
}
.errorText{
  font-family: 'Dhurjati', sans-serif;
  -webkit-text-stroke: 2px rgb(143, 39, 18);
  -webkit-text-fill-color: transparent;
  animation: textShadowAnimation 2s infinite;
  font-size: larger;

}



.contentInput {
  width: 60%;
  height: 30px;
  background-color: transparent;
  border: orange 1px solid;
  border-radius: 10px;
  color: orange;
  font-size: larger;
  cursor: pointer;
}

span {
  color: Black;
  font-weight: bold;
}

.genreContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 120px; /* Puedes ajustar esta altura según tus necesidades */
  margin-top: 20px; /* Puedes ajustar esta separación según tus necesidades */
}
.genreContainer span {
  flex-basis: calc(100% / 8);
  font-size: 15px; /* Puedes ajustar el tamaño de fuente según tus necesidades */
}

.estiloLinks{
  margin-top: 75px;
margin-bottom: 50px;
font-size: 50px;
margin-left: 5px;
color: rgb(0, 0, 0);
font-family: "Bigelow Rules";

}

.submitVideogames{
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: auto;
}