@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: "Roboto Mono", monospace;
} 

.backHome {
  width: 100%;
  color: black;
  font-weight: bold;
  font-size: 30px;
  backdrop-filter: blur(5px);
}

.backHome a {
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: gray;
  border-radius: 10px;
  padding: 3px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(5px);
}

.inputWrapper {
  width: 100%;
  margin-bottom: 20px;
}

.inputGroup {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.formText {
  color: black;
  font-weight: bold;
}

.form {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  padding-top: 20px;
  width: 90%;
  max-width: 500px;
}

.errorText {
  -webkit-text-stroke: 2px rgb(143, 39, 18);
  -webkit-text-fill-color: transparent;
  animation: textShadowAnimation 2s infinite;
  font-size: larger;
}

.contentInput {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: orange 1px solid;
  border-radius: 10px;
  color: orange;
  font-size: larger;
  cursor: pointer;
}

span {
  color: black;
  font-weight: bold;
}

.genreContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
}

.genreContainer span {
  flex-basis: calc(100% / 8);
  font-size: 15px;
}

.estiloLinks {
  margin-top: 75px;
  margin-bottom: 50px;
  font-size: 50px;
  margin-left: 5px;
  color: black;
}

.submitVideogames {
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 40px;
  width: auto;
}

/* Media query para pantallas de hasta 768px de ancho */
@media screen and (max-width: 768px) {
  .form {
    width: 95%;
  }

  .genreContainer span {
    flex-basis: calc(100% / 4);
    font-size: 13px;
  }

  .submitVideogames {
    width: 100%;
  }
}

/* Media query para pantallas de hasta 480px de ancho */
@media screen and (max-width: 480px) {
  .form {
    width: 100%;
    padding: 5px;
  }

  .genreContainer span {
    flex-basis: calc(100% / 2);
    font-size: 12px;
  }

  .submitVideogames {
    width: 100%;
    margin-top: 20px;
  }
}
